{{- $home := .chezmoi.homeDir -}}
projects = {
  "{{ $home }}/git-repository/codex-test" = { trust_level = "trusted" },
  "{{ $home }}/git-repository/codex-message-board" = { trust_level = "trusted" },
  "{{ $home }}/git-repository/aogawa-scraping" = { trust_level = "trusted" },
  "{{ $home }}/git-repository/rehabilitation-management-app" = { trust_level = "trusted" },
}
model_reasoning_effort = "high"
# model_reasoning_summary = "none"
model_reasoning_summary = "auto"
approval_policy = "on-request"
# approval_policy = "never"
sandbox_mode    = "workspace-write"
model = "gpt-5-codex"

[sandbox_workspace_write]
network_access = true   # これで外向き通信を事前許可

[mcp_servers.brave-search]
command = "npx"
args = ["-y", "@modelcontextprotocol/server-brave-search"]
env = { "BRAVE_API_KEY" = "{{ keyring "codex-brave_api_key" .chezmoi.username }}" }

[mcp_servers.playwright]
command = "npx"
args = ["@playwright/mcp@latest"]
env = {}

[mcp_servers.aws-documentation]
command = "uvx"
args = ["awslabs.aws-documentation-mcp-server@latest"]
env = { "FASTMCP_LOG_LEVEL" = "ERROR", "AWS_DOCUMENTATION_PARTITION" = "aws" }
disabled = false
autoApprove = []

[mcp_servers.backlog]
command = "docker"
args = [
  "run",
  "--pull",
  "always",
  "-i",
  "--rm",
  "-e",
  "BACKLOG_DOMAIN",
  "-e",
  "BACKLOG_API_KEY",
  "ghcr.io/nulab/backlog-mcp-server",
]
env = { BACKLOG_DOMAIN = "eucg.backlog.com", BACKLOG_API_KEY = "{{ keyring "codex-backlog_api_key" .chezmoi.username }}" }


